<html>

<head>
  <title>Payment store</title>
</head>

<body>
  <style>
    .continer {
      margin-top: 50px;

    }
  </style>
  <div class="container">
    <div class="row"></div>
    <div class="col-lg-12">
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span><strong>THANK YOU FOR BUYING THIS CAR</strong>
        <hr class="message-inner-separator">
        <p>Thank you for buying this car, your transaction was processed via Stripe </p>
      </div>
    </div>
  </div>
  </style>
</body>

</html>
